*.class
.idea/vcs.xml
*.txt
target/surefire-reports/com.chatapp.MainTest.txt
target/surefire-reports/TEST-com.chatapp.LoginTest.xml
target/surefire-reports/TEST-com.chatapp.MainTest.xml
target/surefire-reports/TEST-com.chatapp.MainTest.xml
target/surefire-reports/com.chatapp.MainTest.txt
*.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst

*.class
